<div class="container text-center">
  <div id="title">ストップウォッチ</div>

  <div id="time" class="mb-3">00:00:00.000</div>

  <input id="start" type="button" value="開始" style="display: inline" class="btn btn-outline-primary timer-button mx-3"></input>
  <input id="break" type="button" value="休憩" style="display: none" class="btn btn-outline-primary timer-button mx-3"></input>
  <input id="stop" type="button" value="終了" style="display: none" class="btn btn-outline-primary timer-button mx-3"></input><br>


  <% if user_signed_in? %>
    <div id="modal-container">
      <div class="modal-body">
        <div id="close-button">✖</div>
        <div class="modal-content text-center">
          <div id="result"></div>
          <%= form_with model: @item, url: items_path, method: :post do |f| %>
            <%= f.label "タイトル入力欄", class: "label" %><br>
            <%= f.text_field :name, class: "col-lg-5 form-control-lg mb-3" %><br>
            <%= f.hidden_field :elapsed_time %>
            <%= f.hidden_field :start_time %>
            <%= f.hidden_field :end_time %>
            <%= f.label :tag_id, "タグ選択", class: "label" %><br>
            <div class="col-lg-5 mx-auto">
              <% @tags.each do |tag| %>
                <%= f.radio_button :tag_id, tag.id %>
                <%= f.label :tag_id, "#{ tag.name }", :value => "#{ tag.id }", class: "btn btn-outline-secondary tag-button" %>
              <% end %><br>
            </div>
            <%= f.submit "保存", id: "save", class: "btn btn-outline-primary mt-3" %>
          <% end %>
        </div>
      </div>
    </div>

    <input id="savebutton" type="button" value="結果を保存する" style="display: none" class="btn btn-outline-primary mt-5"></input>
  <% end %>
</div>


<%= javascript_pack_tag 'script' %>
