<div class="container text-center">
  <h1>ストップウォッチ</h1>

  <% if user_signed_in? %>
    <h3>Userネーム：<%= @user.name %></h3>
  <% end %>

  <div id="time">00:00:00.000</div>

  <input id="start" type="button" value="開始"></input>
  <input id="break" type="button" value="休憩" disabled></input>
  <input id="stop" type="button" value="終了" disabled></input>


  <div id="result"></div>


  <% if user_signed_in? %>
    <div id="modal-container">
      <div class="modal-body">
        <div id="close-button">✖</div>
        <div class="modal-content text-center">
          <%= form_with model: @item, url: items_path, method: :post do |f| %>
            <%= f.label "タイトル" %><br>
            <%= f.text_field :name %><br>
            <%= f.hidden_field :elapsed_time %>
            <%= f.hidden_field :start_time %>
            <%= f.hidden_field :end_time %>
            <%= f.label :tag_id, "タグ選択" %><br>
            選択したタグ：<p id="clicked_tag"></p>
            <% @tags.each do |tag| %>
              <input class="tag_list" type="button" value="<%= tag.name %>"></input>
            <% end %><br>
            <%= f.submit "保存", id: "save" %>
          <% end %>
        </div>
      </div>
    </div>

    <input id="savebutton" type="button" value="保存" style="display: none"></input>
  <% end %>
</div>


<%= javascript_pack_tag 'script' %>
