<div class="container ">
  <h1>履歴一覧</h1>
  <div id="accordion" class="accordion-container">
    <% @items.each do |item| %>
      <p class="accordion-title js-accordion-title"><%= l item.created_at, format: :dating %>：<%= item.tag.name %></p>
      <div class="accordion-content">
        <p>内容：<%= item.name %></p>
        <p>開始日時：<%= item.start_time %></p>
        <p>終了日時：<%= item.end_time %></p>
        <p>経過時間：<%= item.elapsed_time %></p>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'item' %>