<header>
  <% if admin_signed_in? %>
    <li>
      <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
    </li>
  <% else %>
    <% if user_signed_in? %>
      <li>
        <%= link_to "トップページ", root_path %>
      </li>
      <li>
        <%= link_to "履歴", items_path %>
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
  <% end %>
</header>